/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap&family=Tangerine&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(207, 65%, 65%);
  --title-color: hsl(207, 4%, 16%);
  --text-color: hsl(207, 4%, 28%);
  --text-color-light: hsl(207, 4%, 56%);
  --body-color: hsl(207, 4%, 99%);
  --container-color: hsl(207, 4%, 95%);
  --gold-color: hsl(50, 100%, 43%);
  --darker-gold-color: hsl(42, 50%, 56%);

  /* Change the first number */
  /* Blue: 207 - Purple: 250 - Pink: 356 - Teal: 174 */
  --gradient-color: linear-gradient(
    180deg,
    hsla(207, 48%, 72%, 0),
    hsla(207, 65%, 65%, 1)
  );

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Roboto", sans-serif;
  --title-font: "Lora", serif;
  --biggest-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.688rem;
  }
}

/* ========== BASE ========== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background 0.4s; /* for dark mode animation */
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-family: var(--title-font);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  /* max-width: 1024px; */
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 2.5rem;
}

.section__border {
  border-bottom: 1px solid var(--title-color);
  padding-bottom: 3.5rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 0.25rem;
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-bottom: 3rem;
}

.main {
  overflow: hidden; /* For animation */
}

/* ========== HEADER ========== */
.header {
  width: 100%;
  position: fixed;
  top: 1rem;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: calc(var(--header-height) + 0.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--body-color);
  box-shadow: 0 4px 20px rgb(68, 91, 111, 0.1);
  padding-inline: 1.5rem;
  border-radius: 3rem;
  transition: background 0.4s;
}

.nav__logo,
.nav__toggle,
.nav__close {
  color: var(--darker-gold-color);
}

.nav__logo {
  font-family: var(--title-font);
  font-weight: var(--font-medium);
}

.nav__toggle {
  display: flex;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.3s;
}

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    width: 88%;
    left: 0;
    right: 0;
    bottom: -60%;
    margin: 0 auto;
    background-color: var(--body-color);
    box-shadow: 0 4px 20px rgb(68, 91, 111, 0.1);
    padding: 2rem 1.5rem 2rem;
    border-radius: 2rem;
    transition: bottom 0.3s;
  }
}

.nav__list {
  grid-template-columns: repeat(4, max-content);
  justify-content: center;
  gap: 2rem 3rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.25rem;
  font-size: var(--smaller-font-size);
  color: var(--darker-gold-color);
  transition: color 0.3s;
}

.nav__link:hover {
  color: var(--gold-color);
}

.nav__link i {
  font-size: 1.25rem;
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  top: 0.7rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  bottom: 2rem;
}

/* Active link */
.active-link {
  color: var(--title-color);
}

/* ========== HOME ========== */
.home__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.home__content div,
.home__title,
.home__subtitle {
  text-align: center;
}

.home__content div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__title {
  font-size: 2rem;
  color: hsl(205, 87%, 94%);
}

.home__subtitle {
  font-family: "Tangerine";
  color: var(--gold-color);
  font-size: 3.3rem;
}

.home__content img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.home__button {
  color: var(--darker-gold-color);
  position: fixed;
  z-index: 1;
  top: 70%;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  border-radius: 8px;
  font-size: 1.5rem;
  cursor: pointer;
  line-height: 3rem;
  transition: 0.6s;
  box-shadow: inset 0px 3px 5px rgba(255, 255, 255, 0.5),
    0px 0px 10px rgba(0, 0, 0, 0.15);
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 0) 5%,
    rgba(255, 255, 255, 0.5) 6%,
    rgba(255, 255, 255, 0) 9%,
    rgba(255, 255, 255, 0.5) 10%,
    rgba(255, 255, 255, 0) 17%
  );
  background-size: 150%;
  background-position: right;
}

.home__button:hover {
  background-position: left;
  color: var(--gold-color);
  box-shadow: inset 0px 3px 5px var(--gold-color),
    0px 0px 10px rgba(0, 0, 0, 0.25);
}

/* ========== CATALOGUE ========== */
.catalogue__container {
  align-items: center;
  justify-content: center;
  min-height: 300px;
}
.catalogue__options {
  position: relative;
  width: 70%;
  margin: 0 auto;
}
.options-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.fixed-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  box-shadow: 8px 0px 10px -5px rgba(0, 0, 0, 0.3);
  border-radius: 0px 12px 12px 0px;
}

.catalogue .swiper-container {
  box-shadow: inset -62px 0px 69px -84px rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  flex-grow: 1;
}

.catalogue .swiper-wrapper,
.catalogue .swiper-slide {
  width: auto;
}

.option {
  position: relative;
  text-align: center;
  color: var(--text-color);
  margin: 0.5rem 0.5rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border-radius: 3px;
  white-space: nowrap;
}

.option:after {
  position: absolute;
  content: "";
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--gold-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.selected:after,
.option:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.search {
  margin: 0.5rem auto 1rem;
  position: relative;
  width: 100%;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px var(--gold-color);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(
    to bottom,
    var(--body-color) 96%,
    var(--gold-color) 4%
  );
  background-position: -1000px 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.search:focus {
  outline: none;
  background-position: 0 0;
}

.drinks {
  display: grid;
  /* justify-items: center; */
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  /* grid-gap: 1rem; */
  margin: 0 auto;
  max-width: 80%;
}

.card {
  margin: 0 25px 16px 0;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
  max-width: 300px;
  min-height: 200px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.1, 1.1);
}

.card__img {
  visibility: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 20%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  height: 235px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
}

.card:hover .card__img--hover {
  height: 100%;
  opacity: 0.3;
}

.card__info {
  width: 100%;
  z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 16px;
}


.card:hover .card__info {
  background-color: transparent;
  position: relative;
}

.card__category {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #868686;
}

.card__title {
  color: var(--title-color);
  width: 100%;
  font-size: 1rem;
  font-weight: var(--font-semi-bold);
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto Slab", serif;
}




/* ========== RESPONSIVE ========== */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__menu {
    padding-bottom: 4rem;
  }

  .nav__list {
    gap: 1rem 1.25rem;
  }
}

/* For medium devices */
@media screen and(min-width: 576px) {
  .nav,
  .nav__menu {
    width: 380px;
  }

  .nav {
    margin: 0 auto;
  }
}
@media screen and (min-width: 767px) {
  .option {
    margin: 0.5rem 0.5rem;
    padding: 0.25rem 0.5rem;
  }
  /* .drinks {
    grid-template-columns: repeat(3, 1fr);
  } */
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .header {
    top: 0;
    bottom: initial;
    background-color: var(--body-color);
    transition: 0.4s;
  }

  .nav {
    width: initial;
    height: calc(var(--header-height) + 1.5rem);
    box-shadow: none;
    border-radius: 0;
    column-gap: 3rem;
    margin-inline: 1.5rem;
    padding: 0;
  }

  .nav__link i,
  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__menu {
    width: initial;
    margin-left: auto;
    background-color: var(--body-color);
    transition: background 0.4s;
  }

  .nav__list {
    display: flex;
    column-gap: 3rem;
  }

  .nav__link {
    font-size: var(--normal-font-size);
  }
  .nav__link:after {
    content: "";
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--gold-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .nav__link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .section {
    padding-block: 8rem 0;
  }
  .option {
    margin: 1rem 1rem;
    padding: 0.5rem 0.75rem;
  }

  /* .drinks {
    grid-template-columns: repeat(4, 1fr);
  } */
}
